<div class="container">
  <div class="py-2 px-3 my-4" [style]="{ background: 'silver' }">
    <h2><i class="fa fa-user" aria-hidden="true"></i> Customers</h2>
  </div>
  <div class="row">
    <div class="col-lg-3 d-flex">
      <div class="input-group-prepend">
        <span class="input-group-text d-block" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <input
        (input)="searchByFirstName($event)"
        type="text"
        class="form-control"
        placeholder="First name"
      />
    </div>
    <div class="col-lg-3 d-flex">
      <div class="input-group-prepend">
        <span class="input-group-text d-block" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <input
        (input)="searchByLastName($event)"
        type="text"
        class="form-control"
        placeholder="Last name"
      />
    </div>
    <div class="col-lg-3 d-flex">
      <div class="input-group-prepend">
        <span class="input-group-text d-block" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <input
        (input)="searchByPhone($event)"
        type="text"
        class="form-control"
        placeholder="Phone"
      />
    </div>
    <div class="col-lg-3">
      <a routerLink="/admin/addCustomer" class="btn btn-info w-100">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Add customer</a
      >
    </div>
  </div>
  <div class="mt-4 table-responsive">
    <table
      *ngIf="_ar as _ar; else loading"
      class="table table-striped table-bordered"
    >
      <thead>
        <tr>
          <th class="w-25">#</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of _ar; let i = index">
          <td>
            {{ i + 1 }}
            <a routerLink="/admin/customerInfo/{{ item.id }}">
              <i class="fa fa-eye ms-3" aria-hidden="true"></i>
            </a>
            <a routerLink="/admin/customerEdit/{{ item.id }}">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <i
              (click)="delCustomer(item.id)"
              class="fa fa-trash"
              aria-hidden="true"
            ></i>
          </td>
          <td>{{ item.first }}</td>
          <td>{{ item.last }}</td>
          <td>
            <a [href]="'tel:' + item.phone">{{ item.phone }}</a>
          </td>
          <td>
            <a [href]="'mailto:' + item.email">{{ item.email }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #loading>
    <p><i>loading..</i></p>
  </ng-template>
</div>
