<div class="container">
  <div class="py-2 px-3 my-4" [style]="{ background: 'silver' }">
    <h2><i class="fa fa-phone" aria-hidden="true"></i> Contacts</h2>
  </div>
  <div class="row">
    <div class="col-lg-3 d-flex">
      <div class="input-group-prepend">
        <span class="input-group-text d-block" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <input
        (input)="searchByName($event)"
        type="text"
        class="form-control"
        placeholder="name"
      />
    </div>
    <div class="col-lg-3 d-flex">
      <div class="input-group-prepend">
        <span class="input-group-text d-block" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <input
        (input)="searchByEmail($event)"
        type="text"
        class="form-control"
        placeholder="email"
      />
    </div>

    <div class="col-lg-3 d-flex">
      <div class="input-group-prepend">
        <span class="input-group-text d-block" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <input
        (input)="searchByCity($event)"
        type="text"
        class="form-control"
        placeholder="city name"
      />
    </div>
    <div class="col-lg-3 d-flex">
      <div class="input-group-prepend">
        <span class="input-group-text d-block" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <input
        (input)="searchByPhone($event)"
        type="text"
        class="form-control"
        placeholder="Phone"
      />
    </div>
  </div>

  <div class="mt-4 table-responsive">
    <table
      *ngIf="_ar.length; else noContacts"
      class="table table-responsive table-striped table-bordered"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Phone</th>
          <th>Birth year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of _ar; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>{{ item.name | titlecase }}</td>
          <td>
            <a [href]="'mailto:' + item.email">
              {{ item.email | lowercase }}
            </a>
          </td>
          <td>{{ item.city }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.birth | date: "dd/MM/YYYY" }}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noContacts>
      <p><i>Users are not found...</i></p>
    </ng-template>
  </div>
</div>

<!--
  birth:
"2021-05-12"
city:
"Whasington"
email:
"biden@walla.com"
name:
"biden"
password:
"*****"
phone:
 -->
